.level-0 {
    fill: #2166ac;
    stroke #2166ac;
}

.level-1 {
    fill: #67a9cf;
    stroke #67a9cf;
}

.level-2{
    fill: #d1e5f0;
    stroke #d1e5f0;
}

.level-3{
    fill: #fddbc7;
    stroke #fddbc7;
}

.level-4{
    fill: #ef8a62;
    stroke #ef8a62;
}

.level-5{
    fill: #b2182b;
    stroke #b2182b;
}
