text {
    font-family: 'Lato';
}

body {
    margin: 0;
    padding: 0;

}

#container {
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
    overflow: scroll;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

#graph {
    width: 6000px;
    height: 95%;
}

g.tick line {
    stroke: black;
}

g.tick text {
    font-weight: 300;
}

path.domain {
    opacity: 0;
}

text.value {
    font-size: 14px;
    display: none;
}

text.value:hover {
    cursor: pointer;
}
